@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
header {
  background: #1f2937;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
  padding: 2rem;
  padding-bottom: 5rem;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100vw;
  padding-bottom: 8rem;
}

h1 {
  font-size: 24px;
  color: #f9faf8;
}

nav > a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

nav > a:hover {
  text-decoration: underline;
  color: #3882f6;
}
#menu-link1 {
  margin-left: auto;
}
#menu-link3 {
  margin-right: 2rem;
}

/* HERO SECTION */

#hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 5rem;
  height: auto;
}

.hero-text {
  width: 40%;
  padding: 1rem;
}

.hero-text > p {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 15px;
}

.hero-text h2 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-text button,
.cta-container > button {
  background: #3882f6;
  color: #f9faf8;
  width: 100px;
  height: 2rem;
  border: none;
  border-radius: 6px;
  margin-top: 15px;
  cursor: pointer;
}
.hero-img {
  width: 550px;
  height: auto;
  border-radius: 1rem;
  box-shadow: 5px 5px 2px rgb(206, 204, 204);
}
.hero-img:hover {
  transform: scale(1.2);
}

/* MAIN */
main {
  display: flex;
  flex-flow: column;
}

#services {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 10rem;
  width: 100%;
  height: auto;
}
#services > h2 {
  margin-bottom: 1rem;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}
.services-container {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  gap: 0.8rem;
  margin-top: 1rem;
}

.services-item {
  display: flex;
  flex-flow: column;
  width: 200px;
  height: 315px;
  background: #3881f6e5;
  border: 3px solid #3882f6e5;
  border-radius: 6px;
}

.services-item:hover {
  transform: scale(1.1);
}

.services-item > img {
  width: 100%;
  height: 250px;
  padding: 10px;
  background: white;
}

.services-item > p {
  padding: 5px 0;
  height: 50px;
  text-align: center;
  color: #f9faf8;
  font-size: 16px;
}

.testimony-container,
#cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.testimony-container {
  height: auto;
  background: #e5e7eb;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.testimony-container > p {
  color: #1f2937;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  width: 60%;
  text-align: center;
}
.testimony-container > h4 {
  align-self: self-end;
  margin-right: 25rem;
  margin-top: 5px;
}

#cta {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-container {
  width: 80%;
  height: auto;
  background: #3882f6;
  color: #f9faf8;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.cta-container > h3 {
  padding: 0 5rem;
  margin-right: auto;
}
.cta-container > p {
  padding: 0 5rem;
  width: 70%;
}
.cta-container > button {
  border: 1px solid #f9faf8;
  align-self: self-start;
}

footer {
  background: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 50px;
}

footer > p {
  text-align: center;
}
